@import url(http://fonts.googleapis.com/css?family=Open+Sans);

A:link {text-decoration: none} 


body{
background-image:url('../img/bg_gradient.png');
background-repeat:repeat-x;	
	
}

#prog{
margin-left:10%;	
width:80%;		
}


#addUFtoPackageModule{
display:none;	
position:absolute;
left:45%;
top:20%;	
z-index:103;
background-color:white;	
border:2px solid;
border-radius:5px;	
padding:10px;
}


#addManuDiv{
display:none;	
position:absolute;
left:45%;
top:20%;	
z-index:99;
background-color:white;	
border:2px solid #007abb;
border-radius:5px;	
padding:10px;	
width:20%;
height:45%;
}
                                              

#container{
position: relative;
float: left;
left: 0px;
width: 900px;	
}


#SyncPortal{
font-size: 18px;
color: #4a77d4;
font-weight: bold;
margin-right:20px;
font-family: Verdana;
float:right;
}

#innerTab1{
   position: relative;
   float: left;
   left: 10px;
   width: 300px;
   height:390px;
   background-color:lightblue;	
}


#innerTab2{	
   position: relative;
   float: left;
   left: 30px;
   width: 300px;
   height:390px;
   background-color: lightblue;		
}


#innerTab3{
   position: relative;
   float: left;
   left: 50px;
   width:300px;
   height:390px;
   background-color: lightblue;
}


/*

.wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 1615px;
   background-color: #cccccc
}
.left1{
   position: relative;
   float: left;
   left: 10px;
   width: 3px;
   background-color: #ccccff
}
.left2{
   position: relative;
   float: left;
   left: 30px;
   width: 200px;
   background-color: #ccccff
}
.left3{
   position: relative;
   float: left;
   left: 50px;
   width: 263px;
   background-color: #ccccff
}
.right{
   position: relative;
   float: right;
   right: 10px;
   width: 1069px;
   background-color: #ccccff
}

*/




.innerTabs{
	background-color:white;	
	border:2px solid;
    border-radius:5px;	
    padding:10px;
	
}



#showAddUFButton{
display:none;		
}


#page{
width:100%;	
background-image:url('../img/bg_gradient.png');
background-repeat:repeat-x;
		
}

#containerMain{
height:1400px;	
width:100%;
margin:auto;
border-style:solid;
border-top-color: #007abb;
border-top-width:3px;
border-bottom: none;
border-left: none;
border-right: none;		
}


#auxilDiv{
margin:auto;
margin-top:80px;
width:1200px;
height:80%;	
}


#widgetSpace{
height:1000px;	
width:100%;
margin:auto;
background-image:url('../img/bg_gradient.png');
background-repeat:repeat-x;
}



#searchUF{
width:480px;		
}


#innerWidgetSpace{
width:80%;	
margin:auto;
background-color:white;
}


#header{
height:100px;	
width:100%;
margin:auto;
background-color:white;	
border-style:solid;
border-top:thick #007abb;
border-bottom: 1px solid #007abb;
border-left:none;
border-right:none;
}


#spanUUid{
	
	
	
}

 
#headerLinks{
margin-top:10px;
margin-left:40px;
font-family:Tahoma regular;
}


#aryngaLogoLoginPortal{
margin-top:0px;	
}

#headerLinks a:link{
color: black;
}

#headerLinks a:visited
{
	color:black;
}



#footer{	
width:100%;
height:120px;
background-color:black;	
position:relative;
background-color:#010101;
}


#blockOne{
height: 100%;	
width: 20% %;
position: absolute;
left: 5px;
top: 5px;
font-family: Verdana;
color: white;
}

#blockOne a:link{
color: white;
}

#blockOne a:visited{
color: white;
}

#blockTwo a:link{
color:white;
}

#blockTwo a:visited{
color: white;
}


#blockTwo{
height:100%;	
width:20%;
float:left;
position:absolute;
left:25%;
top:5px;
font-family:Verdana;
font-color:white;
}



#widgetOne{
position:relative;
width:600px;
height:600px;
display:none;	
background-color:white;	
}


#widgetTwo{
width:400px;
height:330px;
display:none;	
background-color:white;	

}


#widgetThree{
width:400px;
display:none;	
background-color:white;	
}

#ufcart{
background-color:#007abb;
color:white;	
border-radius:3px;	
padding:8px;
}



#widgetThree{
width:200px;
height:80px;
display:none;	
background-color:white;	
}


#packageManager{
width:200px;
height:80px;
display:none;	
background-color:white;	
}



#widgetFour{
width:200px;
height:80px;
display:none;	
background-color:white;	
}



#widgetFive{
width:200px;
height:80px;
display:none;	
background-color:white;	
}



#widgetSix{
width:200px;
height:80px;
display:none;	
background-color:white;	
}


.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

 /* body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	
  */	
}


.login h1 {font-size:11px; color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }



#aryngaLogo{
	
	margin-left:10px;
	margin-top:10px;		
}

#vessels{
border-radius:5px;	
}

.myClass.ui-dialog{	
background-color:yellow;		
}




#loggedInAs{
margin-top:-4%;
margin-right:1%;	
border-radius:5px;
border-style:solid;
border-color:#007abb;
font-family:Tahoma-regular;
font-size:15px;
float:right;
width:10%;
padding:6px;
}




#searchImage{
position:absolute;
z-index:5;
left:351px;
top:13px;
width:27px;
height:30px;	
}

#searchImage2{
position:absolute;
z-index:5;
left:460px;
top:82px;		
width:27px;
height:30px;		
}

#searchImageRP{
position:absolute;
z-index:5;
left:399px;
top:82px;		
width:27px;
height:30px;		
}



#vinSearch{
position:absolute;
left:40px;
top:10px;	
width:350px;
height:30px;	
padding-left:30px;	
}



.newDialog .ui-dialog-titlebar{
background-color:white;		
border-style:solid;
border-top-color: #007abb;
border-top-width:3px;
border-bottom-color: #007abb;
border-bottom-width:1px;
border-left: none;
border-right: none;		
}


#pvin{
position:absolute;
top:30px;		
}



#pmodel{
position:absolute;
top:50px;		
}


#packageGroupsDisplay{
color:brown;
font-family:Tahoma regular;	
color:#909090;		
}
     
#totalAutoDisplay{	
color:brown;		
}


#updPandDisplay{
color:brown;			
}

#uptAppDisplay{	
color:brown;		
}


.colouredClass{
background-color:lightblue;
color:black  !important;	
padding:3px;
}



#groupsTable td{
width:100px;	

font-size:12px;
font-family:Tahoma regular;
color:#909090;
}

#updatesStatus{
width:100px;	
background-color:white;
font-size:12px;
font-family:Tahoma regular;
color:#909090;	
	
	
}


#updatesSummary{
	
width:100px;	
background-color:white;
font-size:12px;
font-family:Tahoma regular;
color:#909090;	
	
}


#outPutTableManu td{
width:180px;	

font-size:12px;
font-family:Tahoma regular;
color:#909090;
}

#ufDataTable td{	

font-size:12px;
font-family:Tahoma regular;
color:#909090;
}	

#packageTable td {

font-size:12px;
font-family:Tahoma regular;
color:#909090;
}

#outPutTableManu{
width:400px;	

font-size:10px;
}


#addVehTable td{
width:200px;	
font-size:15px;	
}


#addVehTab{
width:600px;
height:400px;	
background-color:white;	
display:none;
}

#createUpdateFile{
width:600px;
height:400px;	
background-color:lightgrey;	
display:none;	
		
}

#addIcon{
	margin-top:30px;
}


.addInput{	
width:200px;
height:30px;	
}

#addVehButton{
border-radius:5px;		
}

#searchRPButton{
border-radius:5px;	
}

#remBoat{	
margin-top:2px;	
}

#searchRP{	
width:75%;	
}


.questions{
width:20px;
height:20px;	
		
}

.vehInfoClass{
font-size:11px;		
}

#outPutForSearchVeh{
font-size:12px;
margin-top:50px;	
height:100px;
width:200px;	
}


#createUpdateFile{
border:2px solid;
border-radius:25px;
background: #EFEFEF;		
}

.ufDataClass{
color: brown;
font-size:11px;		
}

.superClass{	
width:300px;		
}


.login{
width:651px;	
	
}


#loginDiv{
	width:647px;
	height:820px;
	margin:auto;
	background-color:white;
	box-shadow: 5px 5px 5px #007abb;
}

#hLogin{
font-size:18px;	
color:#007abb;
font-weight:bold;		
margin-left:45%;
margin-right:auto;
font-family:Verdana;
display:block;
}


.loginInput{
width:200px;	
margin:auto;
display:block;	
}



#LoginBTn{
width:170px;
border-radius:7px;	
margin:auto;
display:block;	
margin-top:5%;
}

#hr1{
background-color:#007abb;	
height:4px;	
width:99%;	
}



#hr2{	
background-color:#007abb;	
height:2px;
width:99%;	
}


#aryngaLogoLogin{
margin-left:3%;
}


#vesselPic{
margin-top:25%;		
}


#carSyncPic{
margin-top:25%;	
margin-left:20%;			
}

#errorTab{
width:300px;
background-color:white;
border:2px solid #fbdad5;
border-radius:3px;		
display:none;
position:absolute;
left:41%;
top:22%;
padding:10px;
z-index:102;
font-family:Tahoma regular;
font-size:13px;
color:#909090;
}


#verAuxDiv{	
width:300px;
background-color:white;
border:2px solid #fbdad5;
border-radius:3px;		
display:none;
position:absolute;
left:45%;
top:20%;
padding:10px;
z-index:102;
font-family:Tahoma regular;
font-size:13px;
color:#909090;	
		
}



#addRPTab{
width:600px;
height:370px;	
background-color:white;	
display:none;			
}


#addNewVersionToRP{	
	display:none;
	width:990px;
	height:490px;
    background-color:white;	
	border:2px solid;
    border-radius:5px;	
    padding:10px;
    position:absolute;
    left:45%;
    top:5%;
    z-index:101;
}


#addNewVersionToRPBtn{
	
}


#addNewVersionToUf {
	display:none;
	width:260px;
    background-color:white;	
	border:2px solid;
    border-radius:5px;	
    padding:10px;
    position:absolute;
    left:45%;
    top:5%;
    z-index:101;
}


#createNewUFVersionLink{
    border:2px solid;
    border-radius:5px;	
	font-size:10px;
}


#ftpUrlTab{
	border:2px solid;
    border-radius:5px;	
	font-size:12px;
	background-color:white;	
	padding:10px;
	position:absolute;
	top:5%;
	left:20%;
	z-index:102;
	width:700px;
	display:none;
}




#feedBackTab{

background-color:white;
border:2px solid #fbdad5;
border-radius:3px;		
display:none;
position:absolute;
left:45%;
top:20%;
padding:10px;
z-index:102;
font-family:Tahoma regular;
font-size:13px;
color:#909090;
}

#feedBackTabUFRP{
width:600px;
height:370px;
background-color:white;
border:2px solid #fbdad5;
border-radius:3px;		
display:none;

padding:10px;
z-index:102;
font-family:Tahoma regular;
font-size:13px;
color:#909090;	
	
	
}


#ftpUrlTabCloseButton{
	float:right;
}


#closeAddVersionToUf{
	float:right;
}

.bar {
    height: 18px;
    background: green;
}



.closeButtons{
float: right;
width: 25px;
height: 25px;	
	
}



#uploadFile{
width:20%;
margin-left:40%;		
}


#additionalVersionTab{
	border:2px solid;
    border-radius:5px;	
	font-size:12px;
	background-color:white;	
	padding:10px;
	position:absolute;
	top:5%;
	left:20%;
	z-index:120;
	width:400px;
	display:none;	
}


#errorExc{	
margin-left:45%;
}


#errorTabCloseButton{
	float:right;
	width:25px;
	height:25px;
}


#feedTabCloseButton{
	float:right;
	width:25px;
	height:25px;
}

#errorTabInnerDiv{
margin-left:2%;
margin-top:10px;		
}

#decorButton{
margin-left:10%;
top:5px;
width:60%;
background-color:lightblue;	
border:1px solid;
border-radius:3px;	
position:relative;
}

#decorButton2{
margin-left:10%;
top:15px;
width:60%;
background-color:lightblue;	
border:1px solid;
border-radius:3px;	
position:relative;
}
	
#innerDecorButton{	
left:10%;
position:absolute;	
color:black;
backgroud-color:grey;
border:2px solid;
border-radius:5px;	
}


#innerDecorButton2{	
left:10%;
position:absolute;	
color:black;
backgroud-color:grey;
border:2px solid;
border-radius:5px;	
}
	
#decorInput{
position:absolute;	
z-index:4;	
top:37px;
height:10px;

}

#decorInput2{
position:absolute;	
z-index:4;	
top:37px;
height:10px;

}
	
#myFile{
position:relative;	
opacity:0.0;	
z-index:2;	
}

#myFile2{
position:relative;	
opacity:0.0;	
z-index:2;	
}


#adminTasks{
height:300px;
width:500px;
margin-top:2%;
margin-left:5%;
border-style:solid;
border-top-color: #007abb;
border-top-width:2px;
border-bottom: none;
border-left: none;
border-right: none;	
barder-radius:6px;
background-color:lightblue;	
padding:20px;		
}


#waitBar{
color:#4B8C61;	
font-family:Tahoma-regular;
font-size:17px;	
}




#updateButton{
padding:10px;
color:white;
background-color:#A52A2A;
border:2px solid;
border-radius:7px;		
display:block;
margin-left:10%;	
}

#prepareUpdateButton{
	
padding:10px;
color:white;
background-color:lightblue;
border:2px solid;
border-radius:7px;		
display:block;
margin-left:10%;	
	
	
}


#resultTab{
height:80px;
margin-left:10%;
}


#remVersion{
width:180px;
height:30px;
color:black;
background-color:lightblue;
border:2px solid;
border-radius:7px;	
padding:4px;	
}



#updFile{
width:180px;
height:30px;
color:black;
background-color:lightblue;
border:2px solid;
border-radius:7px;		
padding:4px;
}


.portalButtons{
font-family:Tahoma-regular;
font-size:17px;
color:white;
background-color:#007abb;
border-radius:27px;	
}

#addGrounBtn{
top:135px;
left:300px;	
position:absolute;	
}



#addGroupTab{
width:20%;
height:30%;	
background-color:white;	
display:none;
position:absolute;
top:5%;
left:20%;
z-index:102;
padding:20px;
}


#RPdropDiv{
padding:10px;	
background-color:lightblue;		
}


.widgets{
border-style:solid;
border-top-color: #007abb;
border-top-width:2px;
border-bottom: none;
border-left: none;
border-right: none;	
}



#validationTab{
font-family:Tahoma-regular;
font-size:17px;
color:#007abb;
border-radius:27px;		
width:15%;
display:none;	
background-color:white;	
padding:10px;
position:absolute;
top:5%;
left:20%;
z-index:102;
border:2px solid;
}



#pleaseLogin{
width:200px;
height:100px;
font-family:Tahoma-regular;
font-size:17px;
color:white;
text-align:center;
border-radius:27px;			
background-color:lightblue;	
padding:10px;
border:2px solid;
border-radius:7px;	
padding:10px;
margin-left:43%;
margin-top:20%;
}


#menuBar{
margin-left:30%;
margin-top:-45px;	
width:600px;	
font-family:Tahoma regular;
}


#carsyncLogo{
	
}


#rollerGif{
display:none;	
position:absolute;
z-index:104;	
}


#logOutBtn{
margin-left:93%;
margin-top:-73px;	
font-family:Tahoma-regular;
font-size:13px;
color:white;
background-color:#007abb;
border-radius:23px;	
padding:5px;	
	
}

#logOutLink a:visited{

color:white;

}






